public-hoist-pattern[]=@types/history
public-hoist-pattern[]=@types/react-router
public-hoist-pattern[]=eslint
public-hoist-pattern[]=react-router
public-hoist-pattern[]=vite
public-hoist-pattern[]=vitest
public-hoist-pattern[]=workbox-window

public-hoist-pattern[]=slate-plain-serializer
public-hoist-pattern[]=uuid

public-hoist-pattern[]=@datadog/browser-rum-core
