name: main

on:
  workflow_dispatch:
  # pull_request:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

permissions:
  contents: write
  pull-requests: write
  issues: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-22.04

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v4

      - uses: jdx/mise-action@v2

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - run: ./script/prepare-env
        shell: bash

      - run: ./script/build
        shell: bash

      - uses: actions/upload-artifact@v4
        with:
          name: gift-picture-frame-${{ matrix.platform }}-${{ runner.arch }}
          retention-days: 7
          path: |
            build/*

  release_please:
    needs:
      - build

    runs-on: ubuntu-latest

    outputs:
      release_please_version: ${{ steps.release_please.outputs.version }}
      release_please_tag_name: ${{ steps.release_please.outputs.tag_name }}
      release_please_release_created: ${{ steps.release_please.outputs.release_created }}

    steps:
      - uses: actions/checkout@v4
        if: endsWith(github.ref, '/main')

      - uses: googleapis/release-please-action@v4
        if: endsWith(github.ref, '/main')
        id: release_please
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node

  deploy:
    needs:
      - release_please
      - build

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        if: ${{ needs.release_please.outputs.release_please_release_created == 'true' }}

      # prepare-env: Push as github bot.
      # https://github.community/t/github-actions-bot-email-address/17204/5
      - name: Prep for git push
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
        shell: bash
        if: ${{ needs.release_please.outputs.release_please_release_created == 'true' }}

      - uses: actions/download-artifact@v4
        if: ${{ needs.release_please.outputs.release_please_release_created == 'true' }}

      # This is CI specific, artifacts don't seem to be stored with a helpful
      # path.
      - run: |
          mkdir -p build
          cp -rl gift-picture-frame-ubuntu-22.04-X64/* build
        shell: bash
        if: ${{ needs.release_please.outputs.release_please_release_created == 'true' }}

      - run: ./script/deploy "${{ needs.release_please.outputs.release_please_version }}" "${{ needs.release_please.outputs.release_please_tag_name }}"
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ needs.release_please.outputs.release_please_release_created == 'true' }}
